<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAl0oD45AxKuzqUERLd8HOvG2RaSL66mwk</string>
	<key>GCM_SENDER_ID</key>
	<string>273373531113</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tracllo.student</string>
	<key>PROJECT_ID</key>
	<string>tracllo-live-locations-844bb</string>
	<key>STORAGE_BUCKET</key>
	<string>tracllo-live-locations-844bb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273373531113:ios:f73f5c70d4ac3f511c9978</string>
	<key>DATABASE_URL</key>
	<string>https://tracllo-live-locations-844bb-default-rtdb.firebaseio.com</string>
</dict>
</plist>