<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxfQlczb8gt85pOJNdJGtQ90kDXmdf8_M</string>
	<key>GCM_SENDER_ID</key>
	<string>148177471752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tracllo.student</string>
	<key>PROJECT_ID</key>
	<string>trackllostudent</string>
	<key>STORAGE_BUCKET</key>
	<string>trackllostudent.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:148177471752:ios:1c7c948ddb277ecc6cc4bd</string>
</dict>
</plist>